.logo {
    width: 250px;
    margin: 2rem 0 1.5rem 0;
}

.app-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.sound-logo {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    fill: white;
}

/* Medium screen */
@media screen and (min-width:768px) {
    .logo {
        width: 300px;
    }

    .sound-logo {
        right: 1.5rem;
        top: 1.5rem;
    }
    
    .app-title {
        font-size: 2rem;
    }
}

/* Large Screen */
@media screen and (min-width:992px) {
    .app-title {
        font-size: 2.5rem;
    }
    .sound-logo {
        right: 2rem;
        top: 2rem;
    }
    .logo {
        width: 350px;
    }
}